.listings-background {
    background-color: #e8e8e8;
    width: 100vw;
    min-height: 44rem;
    height: calc(100vh - 4rem);
}

.item-container {
    background-color: grey;
    width: 15rem;
    height: 15rem;
    border-radius: 0.5rem;
}

.listings-container {
    padding: 2rem;
}

.add-to-basket-btn {
    width: 15rem;
}

.item-info {
    background-color: black;
    width: 15rem;
    padding: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 1;
    opacity: 0.8;
}

.item-img {
    width: 15rem;
    position: absolute;
    border-radius: 0.5rem;
}

.subheader-style {
    font-weight: unset;
    color: #828282;
}