.listings-background {
    background-color: #e8e8e8;
    width: 100vw;
    min-height: 44rem;
    height: calc(100vh - 4rem);
}

.item-container {
    background-color: grey;
    width: 15rem;
    height: 15rem;
    border-radius: 0.5rem;
}

.listings-container {
    padding: 2rem;
}

.add-to-basket-btn {
    width: 15rem;
}

.item-info {
    background-color: #4c3737;
    width: 15rem;
    padding: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}