<div class="listings-background">
    <div class="listings-container" fxLayout="row" fxLayoutAlign="space-around center">
        <div *ngFor="let item of itemsList1">
            <div class="item-container"></div>
            <button class="add-to-basket-btn"><h3>Add to basket</h3></button>
        </div>
    </div>
    <div class="listings-container" fxLayout="row" fxLayoutAlign="space-around center">
            <div *ngFor="let item of itemsList2">
                <div class="item-container"></div>
                <button class="add-to-basket-btn"><h3>Add to basket</h3></button>
            </div>
        </div>
</div>