<div *ngIf="openBasketPreview" class="basket-preview-container" fxLayoutAlign="center center">
  <div class="basket-preview-background" (click)=closePreviewBasket()></div>
    <div class="basket-preview">
      <div class="basket-preview-header" fxLayout="row" fxLayoutAlign="space-between center">
        <h4 >Item added to basket</h4>
        <div class="close-btn" (click)=closePreviewBasket()><h4>Close</h4></div>
      </div>
      
      <div class="item-list-container" fxLayout="column" fxLayoutAlign="start center">
        <div class="item-container" *ngFor="let item of basketInfo" fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <div class="preview-img"></div>
          </div>
          <div>
            <h3 class="item-header">{{item.header}}</h3>
            <h4 class="item-subheader">Price: {{item.price}} kr</h4>
            <h4 class="item-subheader">Quantity: {{item.quantity}}</h4>
          </div>
          <button class="remove-btn" (click)="removeFromBasket(item)"><h4>Remove item</h4></button>
        </div>
      </div>
      <div class="basket-btn-container" fxLayout="row" fxLayoutAlign="space-around center">
        <button (click)=closePreviewBasket()><h4>continue shopping</h4></button>
        <button><h4>Go to basket</h4></button>
      </div>
    </div>
  </div>

<div class="navbar" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="logo">
    <div>logo</div>
  </div>
  <div class="shopping-basket" fxLayout="row" fxLayoutAlign="space-between center" >
    <button class="basket-btn" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="basket-img"></div>
      <div class="basket-total"><h4>Total: {{basketTotalAmount}} kr</h4></div>
      <div><h4>Qty: {{basketInfo.length}}</h4></div>
    </button>
    
  </div>
</div>

<app-listings-page (basketEvent)="recieveBasketInfo($event)"></app-listings-page>